


body {
    background: #851f29;
    font-family: 'Courier New', Courier, monospace;
    color: #0b0908;
    text-align: center;
}

#hero {
    width: 100%;
    height: 100vh;
    background: url("../images/hogwartstrain.jpg") top center;
    background-size: cover;
    position: relative;
    padding: 0;
  }

.hide {
    display: none;
    
}

.heading {
    font-family:inherit;
    text-align: center;
    font-size: 2.5rem;
}

.game-area {
    background-color: #490c12;
    box-sizing: border-box;
    width: 85%;
    max-width: 50%;
    max-height: 70%;
    margin-left: auto;
    margin-right: auto;
}

.question-area {
    width:50%;
    font-size: 2rem;
    margin:auto;
}

.score-area {
    margin: auto;
    width: 50%;
    font-size: small;
}



   
 /*Images*/ 

.spellings {
    margin-right: 10%;
}

.happenings {
    margin-left: 10%;
    margin-top: 5%;
    max-width: 100%;
}

/*all the buttons*/
.tb {
    
    background-color:#490c12;
    width: 20%;
    height: 40%;

    
}

.tb::after
{
    content: attr(data-analys);
    
    color: #b77427;
    position:relative;
    
}
/*questionarea where the question pops up*/
.question-area{
    width: 50%;
    font-size: 2rem;
    margin: auto;
    padding: 50px ;
}


@media(max-width:800px) {
    .tb {
        width: 100%;
        column-count: 2;
    }

    .spellings {
        width: 70%;
        margin-bottom: 10%;
        margin-left: 10%;
        margin-top: 10%;

    }
    
    .animals {
        width: 70%;
        margin-bottom: 10%;
    }

    .happenings {
        width: 70%;
        margin-bottom: 10%;
        margin-right: 10%;
    }
     
    .heading {
        
        font-size: 2rem;
        width: 70%;
        margin-left: 15%;
        
    }

    #answer-box{
        width: 80px;

    }

  
    
    .question-area{
        font-size: 0.5rem;
        width: 80px;
        
    }
}